{% extends "::layout.twig.html" %}

{%block title %}
	Editing Page
{% endblock %}
{%block body %}
	<form action="{{ path('save', { 'slug': slug }) }}" {{ form_enctype(form) }} method="post">
	    {{ form_field(form) }}
	    <input type="submit" value="Save" class="submit" />
	</form>
	<div class="help">
		Supports basic Wiki syntax. Newlines break the line, URLs become links, and you can create
		headings with:
<pre>
= Heading =
== Lesser Heading ==
</pre>
  	Down to fourth level headings.
		</div>
{% endblock %}

